.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    /* .qrcode{
        background-size: 100vw 100vh;
  background-image: url("/public/assets/qrcode.jpeg");
    } */
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }
    .img-donate{
        object-fit: cover; 
        object-position: left;
        height:14rem;
        width:14rem;
        
    }.title-donate{
        letter-spacing: 1px;
    }
    
    .about{
        /* height: 70vh; */
        background-image: url("/public/assets/36.jpg");
        background-size:100vw 100vh;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        align-content: flex-start;
        height:95vh
        
    } .about-text{
        width:30rem;
        height:28rem;
        font-size: 1.7rem;
        padding: 1rem;
        align-items: center;
        text-align: center;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.50);
        /* border: 1px solid rgba(43, 43, 43, 0.568); */
        backdrop-filter: blur(8px);
        position: absolute;
        overflow: hidden;
        margin-right:60%;
        color:#343434;
        font-weight: 600;
    }
    .developer-div{
        display:flex;
        flex-direction: column;
        
        height: 30rem;
        width: 42%;
        margin-left:40%;
        background-color:  rgba(255, 255, 255, 0.25);;
        text-align: center;
        border-radius:10px

    }.container-1{
        justify-content: space-around;
        display:flex;
        flex-direction: row;
        color:white;
        margin:2rem
    }
    .developer-div-title{
        color:white;
        font-weight: 600;font-size:2rem
    }
    .social-icons{
        display: flex;
        justify-content: space-evenly;
    }.developer-card{
        width:15rem;
        height:8rem;
        border-radius:10px
    }
    
    .developer-title{
        color: #343434
    }.icons{
        width:1.8rem
    }
