#bgimgconflictandconfusion{
    background-image: url("/public/assets/2.4.png");
    background-repeat: no-repeat;
    background-size: 100vw 120vh
}
#conflictandconfusion{
height:90vh;
display:flex;
flex-direction: column;
align-items: center;
}
#conflictandconfusiontitle{
    font-size: 3rem;
    font-weight:900;
    color:#ffffff;
    margin:2rem;
}
.card-container{
    
    position: absolute;
    top:13rem;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
  

}