#bgimgwhydowe{
    background-image: url("/public/assets/36.jpg");
    background-repeat: no-repeat;
    background-size: cover;
     
}
#whydowe{
height:100vh;
display:flex;
flex-direction: column;
align-items: center;
}
#whydowetitle{
    font-size: 3rem;
    font-weight:900;
    color:#ffffff;
    margin:1.5rem;
}
.card-container{
    margin-left:0;
    width: 90%;
    position: absolute;
    top:13rem;
    left:1rem;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 316px);
    grid-gap: 0.5rem;
  

}